{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 1</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 1</span>
        <span>Date 01/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 2</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 2</span>
        <span>Date 02/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 3</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 3</span>
        <span>Date 03/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 4</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 4</span>
        <span>Date 04/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 5</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 5</span>
        <span>Date 05/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 6</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 6</span>
        <span>Date 06/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 7</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 7</span>
        <span>Date 07/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 8</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 8</span>
        <span>Date 08/03/2025</span>
      </div>
    </div>
  
    <div class="bg-white p-4 shadow-md rounded-lg flex flex-col justify-between h-48">
      <h2 class="text-lg font-bold">Article 9</h2>
      <p class="text-center text-gray-700">Description</p>
      <div class="flex justify-between text-sm text-gray-500">
        <span>Auteur 9</span>
        <span>Date 09/03/2025</span>
      </div>
    </div>
  </div>
  
  
{% endblock %}
